.deleteButtons > * {
	margin: 1rem;
}

.deleteConfirmLabel {
	padding: 1rem;
}

.confirmDeleteBtn {
	width: 5rem;
	background-color: #bf3d3b;
	padding: 0;
	color: white;
}
.cancelDeleteBtn {
	padding: 0;
	width: 5rem;
}

.deleteButtons {
	padding: 1rem;
}

.confirmDeleteIcon {
	height: auto;
	width: auto;
	margin: 2rem auto;
	object-fit: contain;
	align-items: center;
}
