.startMapScreen > * {
	margin: 0.5rem auto;
	position: relative;
}

.startMapOptionLabel {
	padding-top: 1rem;
}

.startMapOptionsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0 2rem 0;
}

.startMapOptionsContainer > * {
	margin: 0.35rem;
}

.mapSizeOption {
	z-index: 3;
}

.rerollSeedBtn {
	width: 1.4rem;
	height: 1.4rem;
	user-select: none;
	margin: 0.5rem;
}

.rerollSeedBtn {
	cursor: pointer;
}

.diceSymbol {
	transform: translate(-0%, -3%);
	font-size: 2rem;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mapSeedOptionRow {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.startOptionOptionRow {
	position: relative;
	height: 1.6rem;
	padding: 0.5rem;
}

.startOptionOptionRow > * {
	display: inline-flex;
}

.startOptionLabel {
	font-size: 0.8rem;
}

.startOptionCheckbox {
	margin-right: 0.5rem;
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
}

.startOptionQuestionBox {
	margin-left: 0.5rem;
	font-size: 1rem;
	font-weight: bolder;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	border: 2px black solid;
	display: inline-flex;
	justify-content: center;
	vertical-align: middle;
	user-select: none;
}

.startOptionExplanation {
	display: flex;
	opacity: 0;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 0.7rem;
	border: 1px black solid;
	top: -3.75rem;
	right: -10rem;
	height: 7.5rem;
	width: 7.5rem;
	padding: 1rem;
	line-height: 1rem;
	transition: 0.55s cubic-bezier(0.1, 0.17, .50, 0.9);
	z-index: -3;
}

.startOptionQuestionBox:hover ~ .startOptionExplanation {
	opacity: 1;
	right: -11.5rem;
}

.mapSeedInput {
	display: flex;
}
