:root {
	--color-1: #ffe7bc;
	--color-2: #ffc095;
	--color-3: #f4aa91;
	--color-4: #f49595;
	--color-5: #ee8096;

	--box-dim: 5rem;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	margin: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.title {
	margin-bottom: 1rem;
}

.mapRow {
	display: flex;
	flex-wrap: nowrap;
}

.square {
	min-height: var(--box-dim);
	min-width: var(--box-dim);
	display: block;
	position: relative;
	top: 0;
	left: 0;
	height: var(--box-dim);
	width: var(--box-dim);
}

.track-background {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	border: 1px solid black;
	z-index: -1;
	opacity: 0.5;
	font-size: 3rem;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
	justify-content: center;
	align-items: center;
}

.placed {
	opacity: 1;
}

.box {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-heading {
	background-color: var(--color-1);
}

.cornerButton {
	z-index: 1;
	opacity: 0;
	height: 0;
	width: 0;
	border-style: solid;
	position: absolute;
}
.top-left {
	top: 0;
	left: 0;
	border-width: 0 0 calc(var(--box-dim) / 2) calc(var(--box-dim) / 2);
	border-color: transparent transparent transparent var(--color-2);
}
.top-right {
	top: 0;
	left: calc(var(--box-dim) / 2);
	border-width: 0 calc(var(--box-dim) / 2) calc(var(--box-dim) / 2) 0;
	border-color: transparent var(--color-2) transparent transparent;
}
.bottom-left {
	top: calc(var(--box-dim) / 2);
	left: 0;
	border-width: calc(var(--box-dim) / 2) 0 0 calc(var(--box-dim) / 2);
	border-color: transparent transparent transparent var(--color-2);
}

.bottom-right {
	top: calc(var(--box-dim) / 2);
	left: calc(var(--box-dim) / 2);
	border-width: calc(var(--box-dim) / 2) calc(var(--box-dim) / 2) 0 0;
	border-color: transparent var(--color-2) transparent transparent;
}

.middleButton {
	opacity: 0;
	position: absolute;
	height: calc((var(--box-dim)/2*0.707106781));
	width: calc((var(--box-dim)/2*0.707106781));
	z-index: 1;
	-webkit-transform: rotate(45deg) translate(-50%, -50%);
	-moz-transform: rotate(45deg) translate(-50%, -50%);
	-o-transform: rotate(45deg) translate(-50%, -50%);
	-ms-transform: rotate(45deg) translate(-50%, -50%);
	transform: rotate(45deg) translate(-50%, -50%);
	transform-origin: top left;
}
.top {
	top: 25%;
	left: 50%;
	background-color: var(--color-3);
}

.left {
	top: 50%;
	left: 25%;
	background-color: var(--color-4);
}

.bottom {
	top: 75%;
	left: 50%;
	background-color: var(--color-3);
}

.right {
	top: 50%;
	left: 75%;
	background-color: var(--color-4);
}

.centreButton {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: calc((var(--box-dim) / 5)*2);
	width: calc((var(--box-dim) / 5)*2);
	background-color: var(--color-5);
	z-index: 1;
	border-radius: 5rem;
}

.boxLabel {
	position: absolute;
	font-size: 2rem;
}

.track {
	background-color: #ccc;
}

.start {
	background-color: darkgreen;
}
.end {
	background-color: darkred;
}
