body {
	margin: 0;
	margin: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.box {
	position: relative;
	height: 5rem;
	width: 5rem;
	border: 1px solid black;
	display: inline-block;
}

.table-heading {
	background-color: #ddd;
}

.triangle {
	position: absolute;
	height: 0;
	width: 0;
	position: relative;
	border-style: solid;
}
.top-left {
	border-width: 0 0 2.5rem 2.5rem;
	border-color: transparent transparent transparent #88b1de;
}
.top-right {
	top: -2.5rem;
	left: 50%;
	border-width: 0 2.5rem 2.5rem 0;
	border-color: transparent #88b1de transparent transparent;
}
.bottom-left {
	bottom: 2.5rem;
	top: 50%;
	border-width: 2.5rem 0 0 2.5rem;
	border-color: transparent transparent transparent #88b1de;
}

.bottom-right {
	bottom: 5rem;
	left: 50%;
	top: 50%;
	border-width: 2.5rem 2.5rem 0 0;
	border-color: transparent #88b1de transparent transparent;
}

.centreButton {
	position: absolute;
	height: 1.768rem;
	width: 1.768rem;
	background-color: rgb(172, 52, 108);
	z-index: 1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.top {
	top: 0.368rem;
	left: 1.6185rem;
}

.left {
	top: 1.6185rem;
	left: 0.368rem;
	background-color: #c2f686;
}

.bottom {
	left: 1.6185rem;
	top: 2.869rem;
	background-color: #86f6ee;
}

.right {
	top: 1.6185rem;
	left: 2.869rem;
	background-color: #f5f686;
}
